@charset "utf-8";

/* Available stylesheet for Hope For Paws project

  Author: Guy Montenora & Lauren Chavanne
  Date: 1/14/2019

  Filename: hfp_available.css

*/

/* Navigation and body styles */

.nav li {
	float: left;
	display: inline;
	font-size: 20px;
}


.nav a {
	float: left;
	text-align: center;
	font-family: 'Happy Monkey', cursive;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 82px;
	transition: color .2s;
	color: #A0522D;
}

.nav a:hover {
	color: #F4A460;
	text-decoration: underline;
}

.nav {
	padding-top: 10px;
}


body > h1 {
	font-size: 55px;
	font-family: 'Happy Monkey', cursive;
	text-align: center;
	text-shadow: 4px 1px 6px #CD853F;
	transition: text-shadow 1s;
	
}

body {
	background: url(tanpaws.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}    


/* Figure and figcaption styles */

figure img {
	display: block;
	width: 100%;
}

figure figcaption {
	width: 170px;
	font-size: 18px;
	font-weight:bold;
	font-style: italic;
	margin: 10px auto;
	text-align: center;
	
}

figure {
	height: 150px;
    width: 260px;
    position: relative;
    box-shadow: rgb(51, 51, 51) 5px 10px 15px;
	margin: 90px 16px 30px auto;    
    padding-bottom: 20px;
	float: left;
}  

figure#figure5 {
	float: left;
	margin-left: 278px;
	bottom: 388px;
}


.pets {
	font-size: 20px;
}	


/* Footer styles */

footer {
	background: url(tanpaws.jpg);
	text-align: center;
}

/* Mobile Styles: opx to 480px */

@media only screen and (max-width:480px) {
	nav.horizontal a {
		font-size: 1.5em;
		line-height: 1em;
}
	

/* Tablet Styles: 481 and greater */

@media only screen and (min-width:481px) {
	ul.nav > li {
		float: left;
		width: 20%;
		position: relative;
}
	
	ul.nav {
		width: 150%;
		position: absolute;
}
